<header class="main-header"></header>
<!-- Header Navbar -->
<nav class="navbar navbar-static-top">
  <div class="br-header-left">
    <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a>
    </div>
    <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href=""><i class="icon ion-navicon-round"></i></a>
    </div>
  </div><!-- br-header-left -->

  <div class="br-header-right">
    <div class="dropdown">
      <a href="" class="nav-link pd-x-7 pos-relative" data-toggle="dropdown">
        <i class="icon fa fa-envelope"></i>
        <!-- start: if statement -->
        <span class="square-8 bg-danger pos-absolute t-15 r-0 rounded-circle"></span>
        <!-- end: if statement -->
      </a>
    </div><!-- dropdown -->
    <div class="dropdown">
      <a href="" class="nav-link pd-x-7 pos-relative" data-toggle="dropdown">
        <i class="icon fa fa-bell"></i>
        <!-- start: if statement -->
        <span class="square-8 bg-danger pos-absolute t-15 r-5 rounded-circle"></span>
        <!-- end: if statement -->
      </a>
    </div><!-- dropdown -->
    <div class="dropdown">
      <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
        <span class="logged-name hidden-md-down">Professor</span>
      </a>
    </div><!-- dropdown -->
  </div><!-- br-header-right -->
</nav>
</header><!-- br-header -->

<!-- Begin Sidebar -->
<div class="br-logo"><a href=""><span>Lead Link</span></a></div>
<div class="br-sideleft overflow-y-auto">
  <label class="sidebar-label pd-x-15 mg-t-20">Navigation</label>
  <div class="br-sideleft-menu">
    <a href="/dashboard" class="br-menu-link active">
      <!-- file link -->
      <div class="br-menu-item">
        <i class="menu-item-icon fa fa-home"></i>
        <span class="menu-item-label"> Dashboard</span>
      </div><!-- menu-item -->
    </a><!-- br-menu-link -->
    <a href="#" class="br-menu-link">
      <!-- file link -->
      <div class="br-menu-item">
        <i class="menu-item-icon fa fa-envelope"></i>
        <span class="menu-item-label"> Mailbox</span>
      </div><!-- menu-item -->
    </a><!-- br-menu-link -->
    <a href="/addClient" class="br-menu-link">
      <!-- file link -->
      <div class="br-menu-item">
        <i class="menu-item-icon fa fa-plus"></i>
        <span class="menu-item-label">Add Clients</span>
      </div><!-- menu-item -->
    </a><!-- br-menu-link -->
    <a href="#" class="br-menu-link">
      <!-- file link -->
      <div class="br-menu-item">
        <i class="menu-item-icon fa fa-users"></i>
        <span class="menu-item-label"> UI Elements</span>
        <i class="menu-item-arrow fa fa-angle-down"></i>
      </div><!-- menu-item -->
    </a><!-- br-menu-link -->
    <ul class="br-menu-sub nav flex-column">
      <li class="nav-item"><a href="/addClient" class="nav-link"><i class="menu-item-icon fa fa-plus"></i> Add
          Client</a>
      </li>
      <li class="nav-item"><a href="#" class="nav-link"><i class="menu-item-icon fa fa-list"></i> Client List</a>
      </li>
      <li class="nav-item"><a href="#" class="nav-link"><i class="menu-item-icon fa fa-list-alt"></i> Client
          Groups</a></li>
    </ul>
  </div>
</div>
<!-- End Sidebar -->

<!-- Main content -->
<div class="br-mainpanel">
  <div class="pd-30">
    <h4 class="tx-gray-800 mg-b-5">Lead Link Dashboard</h4>
    <p class="mg-b-0">Manage your business, thoroughly.</p>
  </div><!-- d-flex -->

  <div class="br-pagebody mg-t-5 pd-x-30">
    <div class="row row-sm">
      <div class="col-sm-6 col-xl-3">
        <div class="bg-secondary rounded overflow-hidden">
          <div class="pd-25 d-flex align-items-center">
            <i class="fa fa-globe tx-60 lh-0 tx-white op-7"></i>
            <div class="mg-l-20">
              <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">Today's Visitors</p>
              <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1">1,975,224</p>
              <span class="tx-11 tx-roboto tx-white-6">24% higher yesterday</span>
            </div>
          </div>
        </div>
      </div><!-- col-3 -->
      <div class="col-sm-6 col-xl-3 mg-t-20 mg-sm-t-0">
        <div class="bg-danger rounded overflow-hidden">
          <div class="pd-25 d-flex align-items-center">
            <i class="fa fa-shopping-cart tx-60 lh-0 tx-white op-7"></i>
            <div class="mg-l-20">
              <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">Today's Sales</p>
              <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1">$329,291</p>
              <span class="tx-11 tx-roboto tx-white-6">$390,212 before tax</span>
            </div>
          </div>
        </div>
      </div><!-- col-3 -->
      <div class="col-sm-6 col-xl-3 mg-t-20 mg-xl-t-0">
        <div class="bg-primary rounded overflow-hidden">
          <div class="pd-25 d-flex align-items-center">
            <i class="fa fa-desktop tx-60 lh-0 tx-white op-7"></i>
            <div class="mg-l-20">
              <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">% Unique Visits</p>
              <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1">54.45%</p>
              <span class="tx-11 tx-roboto tx-white-6">23% average duration</span>
            </div>
          </div>
        </div>
      </div><!-- col-3 -->
      <div class="col-sm-6 col-xl-3 mg-t-20 mg-xl-t-0">
        <div class="bg-br-primary rounded overflow-hidden">
          <div class="pd-25 d-flex align-items-center">
            <i class="fa fas-clock tx-60 lh-0 tx-white op-7"></i>
            <div class="mg-l-20">
              <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">Bounce Rate</p>
              <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1">32.16%</p>
              <span class="tx-11 tx-roboto tx-white-6">65.45% on average time</span>
            </div>
          </div>
        </div>
      </div><!-- col-3 -->
    </div><!-- row -->
    <div class="card bd-0 shadow-base pd-30 mg-t-20">
      <div class="d-flex align-items-center justify-content-between mg-b-30">
        <div>
          <h6 class="tx-13 tx-uppercase tx-inverse tx-semibold tx-spacing-1">Newly Added Clients</h6>
          <p class="mg-b-0"><i class="icon ion-calendar mg-r-5"></i> From September 2019 - December 2020</p>
        </div>
      </div><!-- d-flex -->
      <table class="table table-valign-middle mg-b-0">
        <tbody>
          <td>
            <h6 class="tx-inverse tx-14 mg-b-0">John Locke</h6>
            <span class="tx-12">jlocke@lost.org</span>
          </td>
          <td>481-516-2342</td>
          <td>Sept. 1, 2019</td>
          <td>x Corp</td>
        </tbody>
      </table>
    </div><!-- card -->
    <div class="row row-sm mg-t-20">
      <div class="col-12">
        <div class="card pd-0 bd-0 shadow-base">
          <div class="pd-x-30 pd-t-30 pd-b-15">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <h6 class="tx-13 tx-uppercase tx-inverse tx-semibold tx-spacing-1">Client Analysis</h6>
              </div>
            </div><!-- d-flex -->
          </div>          
            <div class="row">
              <div class="col-md-1 col-lg-1"></div>
              <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                <div style="text-align: center; font-weight: bold;"><span>Client Value Breakdown</span>
                  <br>
                  <br>
                  <div id="piechart"></div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                <div style="text-align: center; font-weight: bold;"><span>Client Locations</span>
                  <div id="geographic"></div>
                  <br><br>
                </div>
              </div>
              <div class="col-md-1 col-lg-1"></div>
              <div class="col-md-1 col-lg-1"></div>
              <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                <div style="text-align: center; font-weight: bold; width: 100%;"><span>Company Performance</span>
                  <br><br>
                  <div id="revenue"></div>
                  <br><br>
                </div>
                <div class="col-md-6 col-lg-6"></div>
              </div>
            </div>          
        </div>
      </div>
    </div><!-- card -->
  </div>
</div>

<script>
  window.onload = function load() {
    google.charts.load("current", { 'packages': ["corechart"] });
    google.charts.load('current', { 'packages': ['bar'] });
    google.charts.setOnLoadCallback(clientGraph);
    google.charts.setOnLoadCallback(revenueChart);
    google.charts.load('current', {
      'packages': ['geochart'],
      'mapsApiKey': 'AIzaSyCPqDlu8o1Yb9Wam7D-6H4ow7TbR-t1VXc'
    });
    google.charts.setOnLoadCallback(drawRegionsMap);
    function drawRegionsMap() {
      var options = { region: 'US', resolution: 'provinces' };
      var data = google.visualization.arrayToDataTable([
        ['State', 'Number of Clients'],
        ['US-AZ', 3],
        ['US-CA', 3],
        ['US-CO', 2],
        ['US-DE', 1],
        ['US-DC', 1],
        ['US-FL', 1],
        ['US-IL', 2],
        ['US-MA', 4],
        ['US-MI', 1],
        ['US-NH', 1],
        ['US-NJ', 3],
        ['US-NY', 4],
        ['US-NC', 2],
        ['US-OH', 2],
        ['US-OR', 2],
        ['US-PA', 3],
        ['US-TX', 5],
        ['US-VA', 1],
        ['US-WA', 2],
      ]);
      var chart = new google.visualization.GeoChart(document.getElementById('geographic'));
      chart.draw(data, options);
    }
    function clientGraph() {
      var data = google.visualization.arrayToDataTable([
        ['Client', 'Value $'],
        ['Neptune Networks', 368947],
        ['Fluke Security', 965319],
        ['Revelationetworks', 138642],
        ['Fortunetworks', 287318],
        ['Lionessmedia', 643797],
        ['IronSoft', 462760],
        ['Apachewheels', 512684],
        ['Wolftronics', 619417],
        ['Spritechnologies', 118466],
        ['Hammer Productions', 748754],
        ['Voyage Arts', 397125],
      ]);
      var options = {
        pieStartAngle: 25,
        width: '100%',
        height: '100%',
        chartArea: {
          left: "0%",
          top: "5%",
          bottom: "0%",
          height: "95%",
          width: "100%"
        },
        pieHole: 0.5,
        legend: 'labeled',
        pieHole: 0.3,
        tooltip: { trigger: 'none' },
        pieSliceText: 'none',
      };
      var chart = new google.visualization.PieChart(document.getElementById('piechart'));
      chart.draw(data, options);
    }
    function revenueChart() {
      var data = google.visualization.arrayToDataTable([
        ['Year', 'Sales', 'Expenses', 'Profit'],
        ['2014', 1000, 400, 200],
        ['2015', 1170, 460, 250],
        ['2016', 660, 1120, 300],
        ['2017', 1450, 600, 600],
        ['2018', 1500, 850, 550]
      ]);
      var options = {
        legend: { position: 'top', maxLines: 3 },
      };
      var chart = new google.charts.Bar(document.getElementById('revenue'));
      chart.draw(data, google.charts.Bar.convertOptions(options));
    }
  }
</script>