.main-header {
  margin-left: 200px; /* Same as the width of the sidebar */
  border: 1px solid black
}

img {
  vertical-align: middle;
  border-style: none;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgba(25, 27, 29, 0.904); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.sidebar a {
  text-decoration: none;
  color: white;
  display: inline;
}

ul, .sidebar-menu {
  list-style-type: none;
}

.sidebar-menu {
    margin: 3%;
    padding: 0;
}

.content-wrapper {
  margin-left: 200px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}



